.dashboard .content {
    margin-top: 30px;
}

.my-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.my-table th, .my-table td {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.my-table th.inventory {
    width: 30%;
}