.groupItem {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}

.groupItem .name {
    flex: 1.5;
    font-weight: 600;
}

.groupItem p {
    flex: 1;

    margin: 0;
}