.header {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.subcontent {
    margin-bottom: 30px;
}

.clickableText:hover {
    cursor: pointer;
}

.orangeGradient {
    background-color: #FFB482;
    /* fallback for older browsers */
    background-image: linear-gradient(to bottom, #FFB482, #F97C2A);
}

.content {
    max-width: 800px;
    padding: 10px 12px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

.flexItem {
    flex: 1;
}

.searchMain {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0px 5% 0px;
    background-image: linear-gradient(rgb(255, 184, 103), rgb(255, 111, 0));
    color: white;
}

.searchMain>div {
    width: 70%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.searchOptions {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: black;
    border: 1px solid transparent;
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: lightgray;
    cursor: pointer;
    transition: border-color 0.25s;
}

.searchButton {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(180, 82, 12);
    cursor: pointer;
    transition: border-color 0.25s;
}

.searchInput {
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: black;
}